{
  "type": "CHANGEME",
  "project_id": "CHANGEME",
  "private_key_id": "CHANGEME",
  "private_key": "CHANGEME",
  "client_email": "CHANGEME",
  "client_id": "CHANGEME",
  "auth_uri": "CHANGEME",
  "token_uri": "CHANGEME",
  "auth_provider_x509_cert_url": "CHANGEME",
  "client_x509_cert_url": "CHANGEME"
}
